.todo-app {
  height: auto;
    max-width: 600px;
    margin: 50px  auto 0;
    padding: 50px;
    background-color: #f6eeee;
    border-radius: 8px;
  }
  
  .todo-input {
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 70%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .add-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #2196f3;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .filter-options {
    margin-top: 10px;
    margin-bottom: 20px;
  display: flex;
  justify-content: space-evenly;
  }
  
  .filter-options span {
    margin-right: 10px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #a7c7c6;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }
  
  .completed {
    text-decoration: line-through;
  }
  
  .delete-button,
  .update-button {
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #f44336;
    color: white;
  }
  
  .update-button {
    background-color: #4caf50;
    color: white;
  }
  
  .todos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .todo-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  
    
  }
  .button-btn{
    padding: 6px 10px;
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #f44336;
    color: azure;
  }
  .input-container{
    display: flex;
    justify-content: space-evenly;
  }